:root{
  --offwhite: #f0f0f0;
  --light-blue: #a1f4ff;
  --dark-blue: #00aaff;
  --pink: #ff6e8b;
  --salmon: #ff5e5e;
  --red: #e60000;
  --mustard: #ffe100;
  --light-orange: #ffae00;
  --dark-orange: #ff6f00;
  --light-green: #25e873;
  --dark-green: #007d11;
  --olive: #738f51;
  --seafoam: #71eeb8;
  --light-purple: #ae4aff;
  --dark-purple: #804aff;

  --highlight-light-blue: #a1f43f;
  --highlight-dark-blue: #00aaff3f;
  --highlight-pink: #ff6e8b3f;
  --highlight-salmon: #ff5e5e3f;
  --highlight-red: #e600003f;
  --highlight-mustard: #ffe1003f;
  --highlight-light-orange: #ffae003f;
  --highlight-dark-orange: #ff6f003f;
  --highlight-light-green: #25e8733f;
  --highlight-dark-green: #007d113f;
  --highlight-olive: #738f513f;
  --highlight-seafoam: #71eeb83f;
  --highlight-light-purple: #ae4aff3f;
  --highlight-dark-purple: #804aff3f;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0px;
}

h1 {
  font-size: 14pt;
  font-weight: normal;
  font-style: normal;
  color: black;
  margin: 0px;
}

h2 {
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: darkgrey;
  margin: 0px;
}

#app > div {
  display: flex;
  flex: 1;
}

.landing-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.landing-page > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 10pt;
  color: var(--red);
}

.title {
  font-size: 24pt;
  font-weight: lighter;
  margin: 0.5em;
}

.subtitle {
  font-weight: lighter;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0em 1em 1em;
  align-items: center;
}

.form-group:first-child {
  margin-top: 1em;
}

.form-group > input {
  font-size: 14pt;
  font-weight: lighter;
  border-radius: 0.25em;
  border: 1px solid lightgrey;
  padding: .25em;
}

.form-group > a {
  text-align: center;
  margin: .25em;
  padding: .5em;
  border: 0px;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.invalid {
  margin-bottom: 0px;
}

#app {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 3em;
  min-height: 3em;
  max-height: 3em;
  background-color: var(--offwhite);
  border: solid lightgrey;
  border-width: 0px 0px thin;
  font-size: 14pt;
  padding: 0.5em;
  width: 100%;
}

.header-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-content *:not(:last-child) {
  margin-right: .5em;
}

.header-info {
  display: flex;
  flex-direction: row;
}

.header-options {
  justify-content: flex-start;
}

.header-options > *:hover {
  cursor: pointer;
  fill: darkgrey;
}

.avatar {
  max-width: 3em;
  --web-kit-clip-path: circle(1em at center);
  clip-path: circle(1em at center);
}

.popup-menu {
  width: fit-content;
  position: absolute;
  right: 1em;
  top: 3em;
  background-color: white;
  border-radius: .25em;
  box-shadow: 0px 0px .25em grey;
  padding: .25em 0px;
}

.popup-menu > * {
  padding: .5em;
  width: 100%;
}

.popup-menu > *:hover {
  cursor: pointer;
  background-color: var(--offwhite);
}

.welcome {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.active {
  background-color: var(--offwhite);
}

.cursor {
  display: block;
  position: absolute;
  top: 0px;
  width: 2px;
  height: 1.25em;
}
